:root {
    --primary-color: #03A9F4;
    --secondary-color: #E81F63;
    --grey-bright: #AEAFB4;
    --grey-dark: rgb(113, 107, 107);
}

html {
    scroll-behavior: smooth;
}

body, body * {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.bg-primary {
    background-color: var(--primary-color)
}

.bg-secondary {
    background-color: var(--primary-color)
}
