body {
    display: inline-block;
    margin:0;
}

main {
    width: 100%;
    float: left;
}
.container {
    float: left;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.row {
    float: left;
    width: 1000px;
    margin-left: calc(50% - 500px);
    background-color: rgb(241, 235, 172);
}

.row-short {
    float: left;
    width: 600px;
    margin-left: calc(50% - 300px);
    background-color: rgb(232, 158, 215);
}

.left-column {
    width: 50%;
    float: left;
}

.right-column {
    width: 50%;
    float: left;
}

