.hero {
    height: 100vh;
    text-align: center;
}

.hero > .row-short {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo {
    height: 40px;
    object-fit: contain;
    margin-bottom: 30px;
}

.main-title {
    font-size: 60px;
}
.main-description {
    font-size: 20px;
    color: var(--grey-bright);
}

.clock {
    margin-bottom: 30px;
    margin-top: 30px;
}


.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-title {
    text-transform: uppercase;
    font-size: 20px;
}

.section-description {
    font-size: 18px;
    color: var(--grey-dark);
}

.section-description > a {
    color: var(--secondary-color);
    text-decoration: none;
}

.section-description > a:hover {
    text-decoration: underline;
}

footer.container {
    padding-top: 0;
    text-align: center;
    color: #fffb;
}
footer a {
    color: #fff;
    text-decoration: none;
}

footer > a:hover {
    text-decoration: underline;
}

.bottom-trio {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.bottom-trio > span {
    position: relative;
}

.bottom-trio > span::after {
    display: inline-block;
    content: "";
    width: 2px;
    height: 16px;
    background-color: #fffb;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translate(50%, -50%);
}

.bottom-trio > span:last-child::after {
    display: none;
}

@media (max-width: 700px) {
    .bottom-trio {
        flex-direction: column;
        gap: 0;
    
    }
}