.hero {
    height: 100vh;
    text-align: center;
}

.hero > .row-short {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo {
    height: 40px;
    object-fit: contain;
    margin-bottom: 30px;
}

.main-title {
    font-size: 60px;
}
.main-description {
    font-size: 20px;
    color: var(--grey-text-color);
}

.clock {
    margin-bottom: 30px;
    margin-top: 30px;
}